	<style> 

		*{
			box-sizing: border-box;
		}

		h1{
			margin-bottom: 15px;
			text-align: center;
		}

		.row{
			width: 100%;
		}

		p{

			width: 90%;
			height: 150px;
			border: 1px solid black;
			margin-right: auto;
			margin-left: auto;
			color:white;
			font-family: helvetica;

		}

		@media (min-width: 950px) and (max-width: 1199px){

			.cl-md-3{

				width:25%;
				background-image: url("carro.jpg");
				float: left;
				border:1px solid white;
				
			}

		}
		

	</style>
